h1, thead, th {
    text-align: center !important
}
h1 .headerlink {
    position: absolute
}
figcaption {
    font-style: italic
}
.toc-scroll {
    overflow-y: auto
}
.admonition {
    font-family: var(--font-stack--headings)
}
.admonition .admonition-title {
    font-weight: bold !important;
    text-transform: uppercase;
    letter-spacing: 1pt;
}
.page .mobile-header,
.page .sidebar-drawer,
.page .main .toc-drawer {
    font-family: var(--font-stack--headings)
}
.mobile-header .header-left > * + *,
.mobile-header .header-right > * + *{
    margin-left: 0.5em
}
section > p, article > p, li > p {
    text-align: justify
}
section > p, article > p {
    text-indent: 0.5in
}
center > p, center > section > p {
    text-indent: 0in;
    text-align: center;
}
