h1, thead, th {
    text-align: center !important
}
h1 .headerlink {
    position: absolute
}
figcaption {
    font-style: italic
}
.toc-scroll {
    overflow-y: auto
}
.admonition {
    font-family: var(--font-stack--headings)
}
.admonition .admonition-title {
    font-weight: bold !important;
    text-transform: uppercase;
    letter-spacing: 1pt;
}